#
# Copyright 2014 The CyanogenMod Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

import /init.qcom-common.rc

on fs
    #This will safely error out on non-lvm configs
    restorecon /dev/mapper/lvpool-userdata

    #this fstab was also copied by lvm_init.sh
    mount_all ./fstab.bacon
    restorecon_recursive /persist
    setprop ro.crypto.fuse_sdcard true

on early-init
# LVM: set up LVM volumes
    #First wait for the physical volumes to be available.  Init appears to
    #start before the MMC driver comes up and creates the block devices
    wait /dev/block/platform/msm_sdcc.1/by-name/userdata
    wait /dev/block/platform/msm_sdcc.1/by-name/sdcard
    #Scan for LVM partitions.  Our lvm.conf restricts this to the userdata and sdcard partitions
    exec /sbin/lvm vgscan --mknodes --ignorelockingfailure
    #Activate any partitions found
    exec /sbin/lvm vgchange -aly --ignorelockingfailure
    #Detect if LVM is active and copy the appropriate fstabs and environment RCs for
    #the detected configuration.  See the script source for details
    #Requires busybox to be added to the initial ramdisk of the kernel,
    #AOSP's toolbox+sh should also work
    exec /sbin/busybox sh /lvm_init.sh

on early-boot
    #Last phase of LVM configuration. setprop requires property service
    #to be started so we can't put it in lvm_init.sh or lvm_symlinks.sh
    #Currently we're using the system shell as /system is mounted,
    #but this may need to be reworked to use toolbox+sh to support
    #recovery
    exec /system/bin/logwrapper /system/bin/sh /lvm_setprop.sh

on init
    # See storage config details at http://source.android.com/tech/storage/
    chmod 0701 /mnt/media_rw
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw
    mkdir /storage/usbdisk 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/usbdisk

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    #LVM stuff
    export_rc init.fs.rc
    exec /sbin/busybox sh /lvm_symlinks.sh

on post-fs
    export_rc /system/etc/init.cne.rc

on post-fs-data
    # Torch
    chown system camera /sys/class/leds/torch-light/brightness
    chmod 0660 /sys/class/leds/torch-light/brightness

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled

